doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
  body
    h2 Welcome #{title}

    p #{info}
    p #{errors}
    p #{success}
    p #{warning}

    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      p You are currently logged in as #{user.username}
      a(href="/logout") Logout
      
    block content


